.peliculaCard{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}

.peliculaCard:hover{
    opacity: 0.8;

}

.peliculaImagen{
    border-radius: 10px;
    background-color: aliceblue;
}

@media (max-width: 560px) {
    .peliculaImagen{
        width: 90%;
        height: auto;
    }
}